<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学科適性判定クイズ</title>
    <!-- スタイルシートのリンク -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="main">
        <h1 id="title">ようこそ！学科適性判定クイズへ</h1>
        <p id="explain">20の質問に答えて、あなたに最適な学科を見つけましょう。</p>
        <div id="button-shape">
            <a href="{{ url_for('quiz.quiz', question_id=1) }}" id="start-button">
                &nbsp;&nbsp;クイズを開始&nbsp;>
            </a>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>